*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Samim-FD;
   
   
}
.chatbox{
 
  
}
.chatlogo{
    width: 70px;
    height: 70px;
    position:fixed;
    display: flex;
    align-items: end;
    margin-top: 480px;
    margin-left: 1400px;
}
@font-face {
    font-family:Samim-FD ;
    src: url(/fonts/Samim-FD.woff);
}
.continer{
    width: 1500px;
    background: url(/img/bg-banner.jpg) no-repeat  center/cover ;
    background-attachment: fixed;
    
}
.continer12{
   width: 100%;
   height: 635px;
   background:linear-gradient(rgb(58, 107, 58),rgba(58, 107, 58, 0.253)) ;
   text-decoration: none;
}


/* nav-bar*/
.nav-bar{
    position:fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(141, 83, 196);
    text-shadow: 50px 50px 50px rgb(4, 224, 33);
    z-index: 3000;
    
}
.nav-bar ul li{
display: inline-block;
color: #f80404;
padding-left: 15px;
font-size: 15px;
font-weight: 300;
margin-top: 30px;
position:relative ;
left:900px ;
right: 130px;

}
.nav-bar a{
    text-decoration: none;
}
.nav-bar a:hover{

background-color: cornsilk;
    box-shadow: 20px 20px 20px rgb(19, 18, 18);
   
}

.logo{
    position: relative;
    float: left;
    width: 120px;
    margin-left: 120px;
    margin-top: 10px;
}

/*header*/

header{
    text-align: center;
    padding-top: 250px;
}
header h1{
    font-size: 35px;
    color: rgb(14, 13, 13);
    padding: 15px 0 15px ;
    text-shadow: 1px 1px 1px rgb(207, 105, 2);
}
header p{
    font-size: 19px;
    color: rgb(14, 13, 13);
    padding:0px 0 15px ;
    text-shadow: 1px 1px 1px rgb(226, 175, 6);
}
header a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(245, 249, 252);
    padding:10px 25px ;
    border-radius: 5px;
    background-color: blueviolet;
    box-shadow: 3px 3px 5px crimson;
    
   
}
header a:hover{
    background-color: brown;
  
   
}

/*service*/
.my-continer{
    background-color: cornsilk;
    z-index: 2;
    
 
}
.my-continer1{
    display:grid;
    grid-template-columns: repeat(3,345px);
    grid-template-rows: repeat(3,233px);
   
}
.item{
    position: relative;
    right: 150px;
    top:180px;
    padding: 5px 10px 10px 10px;
    font-size: 15px;
    

}
    
.item img{
    padding-bottom: 20px;
}
.item p{
    
    color: #331a1a;
    font-size: 15px;
    
    line-height: 20px;
}
.item h4{
    
    color: #805f5f;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
 .item3 h4{
    font-size: 75px;
}
hr{
    height: 3px;
    width: 60px;
    background-color: rgb(202, 140, 7);
    position: relative;
    border: 0;
    margin: 20ox 0 20px 0;
}

/*table*/
table, td{
    border: 1px solid rgb(55, 185, 50);
    border-collapse: collapse;
}
td{
    color: antiquewhite;
    border: 0 solid cornsilk;
    background-color: cadetblue;
    border-top: 1px solid rgb(216, 216, 216);
    padding: 2px 50px 2px 45px;
}
.table{
    display: grid;
    grid-template-columns: repeat(3,395px);
    grid-template-rows: repeat(3,253px);
    gap:1px;
    margin-top: 120px;
    margin-right: 80px;
   
}
.itemintable{
    position: relative;
    right: 30px;
    background-color: rgb(91, 148, 124);
    padding: 0 10px 10px 10px;
    font-size: 15px;
    text-align: center;
}
.itemintable h4{
 color: rgb(68, 67, 67);
 text-align: right;
 padding: 30px 0 10px 10px;
 font-size: 22px;

} 
.itemintable a{
    text-decoration: none;
    color: rgb(57, 4, 248);
    
    border: 1px solid cornsilk;
    background-color: rgb(206, 98, 112);
    padding: 5px;
    position: absolute;
    right: 15px;
    bottom: 25px;

}
.table p{
    color: antiquewhite;
    font-size: 14px;
}

/* about*/
.continerabout{
    position: relative;
    bottom: 300px;
    margin-top: -150px;
}
.conect{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.about h1{
    position: relative;
    margin-right: 150px;

}
.continerabout hr{
    position: relative;
    margin-right: 170px;
    margin-bottom: 25px;
}
.box-imag{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    position: relative;
    right: 70px;
}

.overly1{
    background: url(/img/doctor1.jpg) center center/cover;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    transition: all ease 1500ms;
}
.cover1{
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(rgba(210, 111, 235, 0.658)20% , rgba(78, 76, 78, 0.432));
opacity: 0;
transition: all ease 1500ms;

}

.cover1:hover{
    opacity: 1;
    transform:scale(1);
    box-shadow:  3px 3px 3px #2c2a2a;
    border-radius:10px ;
   
}
.overly1:hover{
    
    transform:scale(1.2);
   
}
.teximag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.teximag h2{
 color: rgb(11, 90, 207);
    
}

.overly2{
    background: url(/img/doctor2.jpg) center center/cover;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    transition: all ease 1500ms;
}
.cover2{
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(rgba(210, 111, 235, 0.658)20% , rgba(78, 76, 78, 0.432));
opacity: 0;
transition: all ease 1500ms;

}

.cover2:hover{
    opacity: 1;
    transform:scale(1);
    box-shadow:  3px 3px 3px #2c2a2a;
    border-radius:10px ;
   
}
.overly2:hover{
    
    transform:scale(1.2);
   
}
.overly3{
    background: url(/img/doctor3.jpg) center center/cover;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    transition: all ease 1500ms;
}
.cover3{
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(rgba(210, 111, 235, 0.658)20% , rgba(78, 76, 78, 0.432));
opacity: 0;
transition: all ease 1500ms;

}

.cover3:hover{
    opacity: 1;
    transform:scale(1);
    box-shadow:  3px 3px 3px #2c2a2a;
    border-radius:10px ;
   
}
.overly3:hover{
    
    transform:scale(1.2);
   
}
.overly4{
    background: url(/img/doctor4.jpg) center center/cover;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    transition: all ease 1500ms;
}
.cover4{
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(rgba(210, 111, 235, 0.658)20% , rgba(78, 76, 78, 0.432));
opacity: 0;
transition: all ease 1500ms;

}

.cover4:hover{
    opacity: 1;
    transform:scale(1);
    box-shadow:  3px 3px 3px #2c2a2a;
    border-radius:10px ;
   
}
.overly4:hover{
    
    transform:scale(1.2);
   
}
 .imag image{
    width: 252px;
    padding: 5px;
 }
 .imag li{
    list-style-type: none;
    display: inline-block;
    padding-left:10px ;
    position: relative;
    right: 50px;
 }
 .imag h2{
    padding: 10px;
 }
 .imag p{
   
    dding: 10px;
 }


  /*text-menu*/
 
  .continer-text{
    background-color: rgb(211, 180, 240);
    margin-top:-150px;
  }

 .continer-text h1{
    position: relative;
    margin-right: 80px;

}
.continer-text hr{
    position: relative;
    margin-right: 80px;
    margin-bottom: 25px;
}
  .text-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    width: 1200px;
  }
  .details{
    width: 360px;
    position: relative;
    right: 80px;
  }
  .details p{
    color: #581717;
  }
 .personinfo img{
    float: left;
    width: 50px;
    position: relative;
    bottom: 50px;
 }
 .traing{
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid cornsilk;
    position: relative;
    bottom: 20px;
    right: 300px;
 }
 .textin{
    background-color: cornsilk;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px crimson;
 }
 /* aboutus*/

 .abouttext{
   
    background-color: rgb(41, 40, 40);
    margin-top: 50px;
    
 }
.aboutus{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.aboutus h1{
    color: aliceblue;
    font-size: 30px;
    margin: 120px;
    margin-left:-350px;
}
.aboutus p{
    color: aliceblue;
    font-size: 15px;
    margin: 120px;
    margin-left: 650px;
    width: 360px;
}

/*contact*/

.contant{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1300px;
    position: relative;
    right: 150px;
    gap: 25px;
}
.continercontact h2 , .continercontact hr{
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 27px;
}
.contant h3{
    font-size: 25px;
    padding: 10px 0 35px 0;
}

.contantform input{
    width: 550px;
    height: 40px;
   border: 2px solid rgb(187, 116, 134);
   box-shadow: 2px 5px 5px rgb(15, 12, 13);
} 
.contantform textarea{
    width: 550px;
    margin-top: 50px; 
    margin-bottom: 30px;
    border: 2px solid rgb(187, 116, 134);
   box-shadow: 2px 5px 5px rgb(15, 12, 13);
   resize: none;
} 
.contantform a{
    background-color: blue;
    color: cornsilk;
    font-size: larger;
    padding: 12px 24px;
    margin-bottom: 130px;
    text-decoration: none;
    box-shadow:2px 2px 3px #490b0b;

}

.contantinfo{
    margin-right: 100px;
}
.contantinfo p{
    color: rgb(48, 43, 43);
    font-size: 17px;
    padding-bottom: 25px;
    margin-top: 10px;
}
.contanticon ul{
    margin-top: 100px;
   
}
.contanticon ul li{
    margin-top: 8px;
    font-size: 30px;
   
}


/*footer*/

.footer{
    margin-top: 50px;
    background-color: rgb(117, 26, 114);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 70px;
    padding-right:70px ;
    padding-bottom: 70px;
}
.copy{
    background-color: rgb(117, 26, 114);
}
.fff{
    width: 50px;
    height: 50px;
    
   
}

.footericon ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;
    padding-left: 250px;
    margin-top: 10px;
}


.footer h4{
    color: cornsilk;
    font-size: 21px;
}

.footerlink a{
    color: rgb(235, 189, 4);
    text-decoration: none;
   
}
.footerlink ul{
    list-style-type: none;

}
.footerlink ul li{
    margin-top: 15px;
    
}
.footerabout p{
    line-height: 10px;
    color: rgb(235, 189, 4);
    margin-top: 25px;    
}
.copy hr{
    margin: -25px 0 0 25px;
    width: 100%;
    height: 1px;
    background-color: rgb(202, 140, 7);
}
.copy p{
    color: cornsilk;
    
    text-align: center;
    padding: 30px;
}


